body{
    background-color: hsl(30, 38%, 92%);
    margin: 164px 407px 164px 407px;
    font-family: 'Montesserat', sans-serif;
    max-width: 1440px;
}
main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8em;
    display: grid;
    /* flex-direction: row-reverse; */
    /* margin-left: auto;
    margin-right: auto; */
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    margin-bottom: 30px;
    width: 100%;
    /* height: 452px;
    width: 600px; */
}
.product-image{
    width: 100%;
    border-top-left-radius:0.8em ;
    border-bottom-left-radius: 0.8em;
}

article{
    padding: 2.3rem;
    /* width: 50%; */
}
h1{
    font-size: 14px;
    letter-spacing: 0.2rem;
    color: hsl(228, 12%, 48%);
}
h2{
    font-family: "Fraunces", serif;
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.product-description p{
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.product-price h2{
    color: hsl(158, 36%, 37%);
}
sup{
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    text-decoration: line-through;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    gap: 0.4rem ;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    padding: 0.8rem;
    margin-top: 1.5rem;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
}
button:hover{
    background-color: hsl(212, 21%, 14%) ;
}
.mobile-image{
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

    @media only screen and (max-width: 768px) {
        body{
            margin: 20px;
        }
        main{
            margin-top: 30px;
            /* width: 100%;*/
            min-height: 600px;
            grid-template-columns: 1fr; /* Single column */
            grid-template-rows: auto; 
            /* justify-items: stretch; */
            /* grid-template-rows: 1fr 1fr; */
        }
        .product-image{
            display: none;
             }
             .mobile-image{
                /* overflow-clip-margin: content-box; */
                /* overflow: clip;
                overflow-x: 0px;
                overflow-y: 0px; */
                display: block;
                border-top-left-radius:1em ;
                border-top-right-radius: 1em;
                width: 100%;
             }
             article{
                /* align-items: center; */
                padding: 1.5rem;
                width: 85%;
             }
             h2{
                font-size: 25px;
             }
    }
